<h1> Teams Index </h1>

<form action="/teams/new">
    <input type="submit" value="New Team">
</form>

<% @teams.each do |team| %>

    <p> <%= link_to team.name, "/teams/#{team.id}" %> </p>
    <p> <%= team.created_at %> </p>

<% end %>