<h1> New Team Record </h1>

<form action="/teams" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <p> Enter the team name: </p>
        <input type='text' name='title'/><br/>

    <p> Enter the season wins: </p>
        <input type='text' name='wins'/><br/>

    <p> Is the team playoff eligible? </p>
        <input type='radio' id="yes" name="playoff_eligible" value="true">
        <label for="yes"/>Yes</label><br>
        <input type='radio' id="no" name="playoff_eligible" value="false">
        <label for="no"/>No</label><br>
    
    <br>
    <input type='submit' value="Create Team"/>
</form>