<h1> <%= @team.name %> Players </h1>

<% @players.each do |player| %>

    <p> <%= link_to player.name, "/players/#{player.id}" %> </p>

    <form action="/players/<%= player.id %>/edit" method="GET" style="display: inline-block;">
        <input type="submit" value="Update <%= player.name %>">
    </form>

<% end %>