<h1> Players Index </h1>

<% @players.each do |player| %>
    <% if player.won_cup == true%>
       <p> <%= link_to player.name, "/players/#{player.id}" %> </p>
        <form action="/players/<%= player.id %>/edit" method="GET" style="display: inline-block;">
            <input type="submit" value="Update <%= player.name %>">
        </form>
    <% end %>
<% end %>