<h1> <%= @player.name %> </h1>

<p> Jersey Number: <%= @player.jersey_number %> </p>

<p> Has previously won a Stanley Cup?
<%= 
if @player.won_cup == true
    "Yes!"
else
    "Unfortunately not."
end %> </p>

<form action="/players/<%= @player.id %>" method="DELETE">
    <input type="submit" value="Delete Player">
</form>